<div>
  <nav class="blue-grey darken-4">
    <div class="nav-wrapper">
      <span class="left valign-wrapper">
        <h4 class="center-align">Antoine Dausque</h4>
      </span>
      <ul class="right valign-wrapper">
        <li><a>Index</a></li>
        <li><a>Compétences</a></li>
        <li><a>Expériences</a></li>
        <li><a>Formations</a></li>
        <li><a>Projets</a></li>
        <li class="flag-li valign-wrapper"><a [href]="languageSwitch.url" class="flag-li valign-wrapper"><img class="flag-image" [src]="languageSwitch.src" alt="{{languageSwitch.label}}"></a></li>
      </ul>
    </div>
  </nav>
</div>
