.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper h4 {
  margin: 0;
  margin-left: 8px;
}

.custom-dropdown-menu{
  width: 100px !important;
}

.custom-li {
  padding-right: 8px;
  width: 100% !important;
  display: flex;
  flex-direction: row-reverse;
}

.flag-image {
  height: 24px;
  width: auto;
}
