<div>
  <nav class="blue-grey darken-4">
    <div class="nav-wrapper">
      <span class="left valign-wrapper custom-cursor">
        <h4 class="center-align">Antoine Dausque</h4>
      </span>
      <ul class="right valign-wrapper hide-on-med-and-down">
        <li><a>Index</a></li>
        <li *ngIf="lg === 'fr'"><a>Compétences</a></li>
        <li *ngIf="lg === 'en'"><a>Skills</a></li>
        <li *ngIf="lg === 'fr'"><a>Expériences</a></li>
        <li *ngIf="lg === 'en'"><a>Experiences</a></li>
        <li *ngIf="lg === 'fr'"><a>Projets</a></li>
        <li *ngIf="lg === 'en'"><a>Projects</a></li>
        <li *ngIf="lg === 'fr'"><a>Formations</a></li>
        <li *ngIf="lg === 'en'"><a>Studies</a></li>
        <li class="flag-li valign-wrapper">
          <a [href]="languageSwitch.url" class="flag-li valign-wrapper">
            <img class="flag-image" [src]="languageSwitch.src" alt="{{languageSwitch.label}}">
          </a>
        </li>
      </ul>
      <div class="right valign-wrapper hide-on-large-only dropdown-trigger" data-target="dropdown1">
        <i class="material-icons icon-size">menu</i>
      </div>
      <ul id='dropdown1' class='dropdown-content dropdown-ul blue-grey darken-3'>
        <li><a>Index</a></li>
        <li *ngIf="lg === 'fr'"><a>Compétences</a></li>
        <li *ngIf="lg === 'en'"><a>Skills</a></li>
        <li *ngIf="lg === 'fr'"><a>Expériences</a></li>
        <li *ngIf="lg === 'en'"><a>Experiences</a></li>
        <li *ngIf="lg === 'fr'"><a>Projets</a></li>
        <li *ngIf="lg === 'en'"><a>Projects</a></li>
        <li *ngIf="lg === 'fr'"><a>Formations</a></li>
        <li *ngIf="lg === 'en'"><a>Studies</a></li>
        <li class="flag-dropdown valign-wrapper">
          <a [href]="languageSwitch.url" class="flag-dropdown">
            <img class="flag-image" [src]="languageSwitch.src" alt="{{languageSwitch.label}}">
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
