<div class="divider"></div>

<div  *ngIf="lg === 'fr'" class="blue-grey darken-4 footer-wrapper">
  <div class="left-align">
    <a href="https://antoinedausque.fr">Antoine</a>
  </div>
  <div class="center-align">
    <p class="white-text">© Conçu et développé par <a target="_blank" href="https://github.com/Punkiepoux/" class="lime-text accent-3">Antoine Dausque</a></p>
  </div>
  <div>
    <img class="footer-img" src="svg/icons/linkedin.svg" alt="lien vers mon linkedin">
    <img class="footer-img" src="svg/icons/github.svg" alt="lien vers mon github">
  </div>
</div>

<div *ngIf="lg === 'en'" class="blue-grey darken-4 footer-wrapper">
  <div class="left-align">
    <a href="https://antoinedausque.fr">Antoine</a>
  </div>
  <div class="center-align">
    <p class="white-text">© Designed and developed by <a target="_blank" href="https://github.com/Punkiepoux/" class="lime-text accent-3">Antoine Dausque</a></p>
  </div>
  <div>
    <img class="footer-img" src="svg/icons/linkedin.svg" alt="link to my linkedin">
    <img class="footer-img" src="svg/icons/github.svg" alt="link to my github">
  </div>
</div>
