<div class="divider"></div>
<div class="blue-grey darken-4 footer-wrapper">
  <div class="left-align">
    <a href="https://antoinedausque.fr">Antoine</a>
  </div>
  <div class="center-align">
    <p class="white-text">© Designed and developed by <a target="_blank" href="https://github.com/Punkiepoux/" class="lime-text accent-3">Antoine Dausque</a></p>
  </div>
  <div>
    <img class="footer-img" src="svg/icons/linkedin.svg">
    <img class="footer-img" src="svg/icons/github.svg">
  </div>
</div>

