.competence-wrapper {
  height: 100vh;
}

.carousel-item {
  transition: transform 3.5s linear, opacity 3.5s ease-in-out;
}

.competence-img {
  height: 128px !important;
}

.carousel-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
