<div id="index" class="section valign-wrapper">
  <div class="center-align" style="width: 100%; height: 90vh">
    <div class="left index-wrapper">
      <div>
        <h1 class="blue-grey-text left-align">Antoine Dausque</h1>
        <p *ngIf="lg === 'fr'" class="left-align">
          Salut !
        </p>
        <p *ngIf="lg === 'en'" class="left-align">
          Hey !
        </p>
        <p *ngFor="let info of infos" class="left-align">{{info.description}}</p>
      </div>
    </div>
    <div class="right index-wrapper">
      <div class="">
        <img
          src="profile.png"
          class="circle responsive-img"
          style="height: 50vh"
        />
      </div>
    </div>
  </div>
</div>
