<div class="row">
  <div *ngFor="let project of projects" class="col s12 m6 l4">
    <div class="card hoverable">
      <div class="card-image">
        <img class="responsive-img" [src]="project.image">
        <span class="card-title">{{project.title}}</span>
      </div>
      <div class="card-content black-text">
        <p>{{project.description}}</p>
      </div>
      <div class="card-action" style="display: flex">
        <a *ngIf="project.githubLink" class="valign-wrapper" [href]="project.githubLink">Lien GitHub <i class="material-icons">launch</i></a>
        <a *ngIf="project.webLink" class="valign-wrapper" [href]="project.webLink">Lien Site Web <i class="material-icons">launch</i></a>
      </div>
    </div>
  </div>
</div>
