<div class="row">
  <div class="col s12 m6 l4">
    <div class="card hoverable">
      <div class="card-image">
        <img src="png/voiture.png">
        <span class="card-title">Vintage Auto 83</span>
      </div>
      <div class="card-content black-text">
        <p>Site web du club de véhicules anciens Vintage Auto 83, application Angular, html, css, js et materialize css.</p>
      </div>
      <div class="card-action" style="display: flex">
        <a class="valign-wrapper" href="https://github.com/Punkiepoux/vintage-auto-app">Lien GitHub <i class="material-icons">launch</i></a>
        <a class="valign-wrapper" href="https://google.com">Lien Site Web <i class="material-icons">launch</i></a>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l4">
    <div class="card hoverable">
      <div class="card-image">
        <img src="png/voiture.png">
        <span class="card-title">Vintage Auto 83</span>
      </div>
      <div class="card-content black-text">
        <p>Site web du club de véhicules anciens Vintage Auto 83, application Angular, html, css, js et materialize css.</p>
      </div>
      <div class="card-action" style="display: flex">
        <a class="valign-wrapper" href="https://github.com/Punkiepoux/vintage-auto-app">Lien GitHub <i class="material-icons">launch</i></a>
        <a class="valign-wrapper" href="https://google.com">Lien Site Web <i class="material-icons">launch</i></a>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l4">
    <div class="card hoverable">
      <div class="card-image">
        <img src="png/voiture.png">
        <span class="card-title">Vintage Auto 83</span>
      </div>
      <div class="card-content black-text">
        <p>Site web du club de véhicules anciens Vintage Auto 83, application Angular, html, css, js et materialize css.</p>
      </div>
      <div class="card-action" style="display: flex">
        <a class="valign-wrapper" href="https://github.com/Punkiepoux/vintage-auto-app">Lien GitHub <i class="material-icons">launch</i></a>
        <a class="valign-wrapper" href="https://google.com">Lien Site Web <i class="material-icons">launch</i></a>
      </div>
    </div>
  </div>
</div>
